$primary: #011627;
$secondary: #F71735;
$background: #FDFFFC;


////// Flexbox containers
.product_window{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  margin: 40px 20px;
}

.property_container{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.form_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: auto;

  form{
    flex-grow: 1;
    margin: auto;
    padding-top: 50px;
    min-width: 350px;
    max-width: 550px;
  }
}

.field_container{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.input-group{
  display: flex;
  flex-flow: row nowrap;

  height: 50px;
  padding: 5px 0 5px 0;

  input{
    flex-grow: 1;

    min-width: 0; // Input wont shrink enough without this
  }

  .input-group-prepend .input-group-append{
    flex-shrink: 0;
  }

  label{
    flex-grow: 0;

    min-width: 50px;

    font-family: 'Roboto Slab', serif;
    font-weight: bold;
  }

  select{
    flex-grow: 1;
  }
}

////// Properties for non Flexbox containers
.navbar{
  background-color: $primary;
}

.product_window{
  margin: 40px 20px;
}
.item{
  flex-grow: 0;
  flex-shrink: 0;

  width: 350px;
  height: 200px;
  margin: 20px 20px;

  border: $primary 2px solid;
}
////// Individual elements
body{
  background-color: $background;
}
.instructions{
  font-family: 'Roboto Slab', serif;
  margin-left: 50px;
}

.invalid{
  border: red 1px solid;
}

.navbar-brand{
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 35px;
  color: $secondary;
}
.navbar-brand:hover{
  text-decoration: underline;
  color: $secondary;
}
.active{
  text-decoration: underline;
}
.nav_button{
  width: 300px;
  height: 45px;

  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 25px;
}

.property{
  flex-grow: 1;

  margin: 2px;

  text-align: center;
  font-family: 'Roboto Slab', serif;
}
.property_checkbox{
  flex-grow: 0;

  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 10px 10px;
}




